{% extends 'base.html' %}


{% block title %}Login page{% endblock %}

{% block main %}
    <div class=" justify-content-md-center">
         <div class="col-sm-auto">
            <h1 class="text-center">Login</h1>
            <form class='' method="post" action="">{% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-success btn btn-block">Login</button>
            </form>
        </div>
    </div>


{% endblock %}