{% extends 'base.html' %}

{% block title %}Seja Bem Vindo!{% endblock %}

{% block main %}


  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm-12">
        <h2>Sistema de gestão de cliente</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
{% if user.is_authenticated %}
        <h1>Seja bem vindo, {{ user.username }}!</h1>
        <h3><a href="{% url 'logout' %}">Logout</a></h3>
    {% else %}
        <h1>Seja bem vindo!</h1>
        <h3><a href="{% url 'login' %}">Login</a></h3>
    {% endif %}    </div>
  </div>
</div>
    <div class="row">

    </div>
{% endblock %}